.foot{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 13px;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.logo img{
    width: 45vw;
    margin-top: -50px;
}

.copyright{
    margin-top: 30px;
}

@media screen and ( width >= 67.5em){
    .foot{
        font-size: 14px;
        padding-left: 100px;
    }

    .logo img{
        width: 20vw;
        margin-top: -50px;
    }
}